* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  

@font-face {
    font-family: "LarkFont";
    src: url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.eot");
    src: url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b4b59e48a26b72516b21a92326426229.svg#Linotype Projekt Regular")format("svg");
}

.container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.blurb-container {
    background: url("https://www.dreamireland.com/_fileupload/image/lg-1524832364-Ennis_Co_Clare_2.jpg");
    background-size: 100% 100%;
}

.button{
    background-color: #1c7e60;
    color: white;
    border: none;
}

@media screen and (max-width: 599px) {
    .container {
        margin-top: 100px;
    }

    .blurb-container {
        height: 500px;
        display: flex;
        align-items: center;
    }

    .blurb {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        line-height: 1.5;
        padding-left: 30px;
        padding-right: 30px;
        font-family: LarkFont;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .button {
        padding: 10px 20px;
        font-size: 1.5rem;
        font-family: LarkFont;
        border-radius: 20px;
        height: 50px;
        width: 250px;
        margin: 10px;
    }
}