.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.icon{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.hidden{
    left: -100%;
}

.visible{
    left: 0;
    top: 0;
}

.nav{
    position: absolute;
    top: 100%;
    height: 100vh;
    width: calc(100vw - 4rem);
    background-color: white;
    border: 1px solid gray;
    transition: left 0.5s;
    z-index: 2;
}

.inner-icon{
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 30px;
    margin-top: 30px;
    position: absolute;
}

.nav-links{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-link{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px
}

/* Media queries for screens from 300px to 1400px */
@media (min-width: 300px) and (max-width: 599px) {
    .desktop-nav{
        display: none;
    }

    /* Styles for screens between 300px and 599px */
    .header {
        width: 100vw;
        height: 100px; /* Adjust the height as needed */
        align-items: center;
    }
    
    

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        height: 80%;
        width: auto; /* Set width to auto */
    }


}

@media (min-width: 600px) and (max-width: 899px) {
    /* Styles for screens between 600px and 899px */
    .header {
        width: 100vw;
        height: 120px; /* Adjust the height as needed */
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        height: 80%;
        width: auto; /* Set width to auto */
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    /* Styles for screens between 900px and 1199px */
    .header {
        width: 100vw;
        height: 140px; /* Adjust the height as needed */
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        height: 80%;
        width: auto; /* Set width to auto */
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /* Styles for screens between 1200px and 1399px */
    .header {
        width: 100vw;
        height: 160px; /* Adjust the height as needed */
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: 90%;
        width: auto;
    }
}

/* Styles for screens larger than 1400px */
@media (min-width: 1400px) {
    .header {
        width: 100vw;
        height: 180px; /* Adjust the height as needed */
    }
    
    .logo {
        align-items: center;
        height: 80%;
        width: auto;
    }
}
