.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18371f;
}

.logo{
    background-color: #18371f;
}

.nav-container{
    position: fixed;
    top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 3;
    background-color: #18371f;
    position: relative;
}

.dropdown{
    display: flex;
    flex-direction: column;
    font-family: larkFont;
}


@media (min-width: 300px) and (max-width: 599px) {
    .desktop-nav{
        display: none;
    }
    
    .icon{
        width: 60px;
        height: 60px;
        color: white;
    }

    .nav-container{
        width: 100vw;
        height: 100px;
        z-index: 2;
    }

    .header {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        z-index: 4;
    }

    .menu-icon{
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .nav-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .dropdown {
        margin-top: 100px;
        position: absolute;
        transition: top 1s ease;
        height: calc(100vh - 100px);
        width: 100vw;
        background-color: #dbaa74;
        color: #18371f;
        z-index: 3;
    }

    .invisible {
        top: -100vh;
    }

    .visible {
        top: 0;
    }

    .inactive {
        opacity: 0;
        transition: opacity 1s ease;
        transition-delay: 1s;
    }

    .active {
        opacity: 1;
        transition: opacity .8s ease;
        transition-delay: 1s;
    }

    .nav-link {
        text-decoration: none;
        color: #18371f;
        margin-top: 40px;
    }
    
    .icon {
        position: absolute;
        right: 0;
        margin-right: 10px;
    }

    .logo {
        position: absolute;
        left: 0;
        margin-left: 10px;
        align-self: center;
        height: 80%;
        width: auto;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    /* Styles for screens between 600px and 899px */
    .header {
        width: 100vw;
        height: 120px; /* Adjust the height as needed */
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        height: 80%;
        width: auto; /* Set width to auto */
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    /* Styles for screens between 900px and 1199px */
    .header {
        width: 100vw;
        height: 140px; /* Adjust the height as needed */
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        height: 80%;
        width: auto; /* Set width to auto */
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /* Styles for screens between 1200px and 1399px */
    .header {
        width: 100vw;
        height: 160px; /* Adjust the height as needed */
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: 90%;
        width: auto;
    }
}

/* Styles for screens larger than 1400px */
@media (min-width: 1400px) {
    .header {
        width: 100vw;
        height: 180px; /* Adjust the height as needed */
    }
    
    .logo {
        align-items: center;
        height: 80%;
        width: auto;
    }
}
