.preview-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c7e60;
}

@media screen and (max-width: 599px) {
    .preview-card {
        margin-top: 20px;
        margin-bottom: 20px;
        width: calc(100vw - 40px);
    }
    
    .artist-preview-image {
        width: 90%;
        margin-top: 20px;
    }

    .single-preview-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }

    .artist-preview-name{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: LarkFont;
        font-size: 1.5rem;
        color: white;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .artists-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .preview-card {
        margin-top: 20px;
        margin-bottom: 20px;
        width: calc(50vw - 100px);
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .artist-preview-image {
        width: 90%;
        max-height: 90%;
        margin-top: 20px;
    }

    .single-preview-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }

    .artist-preview-name{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: LarkFont;
        font-size: 1.5rem;
        color: white;
    }
}