.preview-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c7e60;
}

@media screen and (max-width: 599px) {
    .preview-card {
        margin-top: 20px;
        margin-bottom: 20px;
        width: calc(100vw - 40px);
    }
    
    .artist-preview-image {
        width: 90%;
        margin-top: 20px;
    }
}